* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  display: block;
  margin-left: 20px;
}
button {
  margin: 0 10px;
  padding: 3px;
}
#page #act-box {
  width: 100%;
  display: flex;
  margin: 50px auto;
}
#page #act-box #input-items {
  display: flex;
}
#display-box {
  width: 1000px;
  min-height: 200px;
  border: 2px solid black;
}
#display-box div {
  display: flex;
  justify-content: space-between;
}
#act-area {
  width: 500px;
  min-height: 200px;
  border: 2px solid black;
  position: absolute;
  left: 1050px;
  top: 219px;
}
